<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />


    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>

  <%if place.comments.present? %>
    <div class="col-12">
      <blockquote>
        <% if place.comments.last.humanized_rating.present? %>
          <b><%= place.comments.last.humanized_rating %></b> -
        <% end %>
        <%= place.comments.last.message %>
        <small><%= place.comments.last.user.email %></small>
      </blockquote>
    </div>
  <% end %>
    
  <% if place.photos.present? %>
   <div class="col-12">
        <blockquote>
          <% if place.photos.last.humanized_caption.present? %>
            <b><%= place.photos.last.humanized_caption %></b> -
          <% end %>
          <%= place.photos.last.picture %>
          <small><%= place.photos.last.user.email %></small>
        </blockquote>
   </div>
  <% end %> 


  </div>
<% end %>
